<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th>會員編號</th>
              <th>會員名稱</th>
              <th>會員帳號</th>
              <th>購物金</th>
              <th>會員信箱</th>
              <th>會員電話</th>
              <th>會員狀態</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="memNo">1</td>
              <td class="memName">賽克莉絲特</td>
              <td class="memId">cyclist2019</td>
              <td class="memGolds">100</td>
              <td class="memEmail">cyclist2019@gmail.com</td>
              <td class="memPhone">0912345678</td>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>