<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="blank.html">
      <img class="navbar-brand-full" src="img/brand/LOGO.png" width="55" height="42" alt="Cyclist Logo">
      <img class="navbar-brand-minimized" src="img/brand/LOGO.png" width="30" height="30" alt="Cyclist Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item mr-3 adminName"></li>
        <a class="nav-item mr-3 logOut" href="login.html">登出</a>
      </ul>
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>