<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon02.ico" type="image/x-icon" />
    <title>CY購物車</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    @@include('./template/header.html')

    <div id="shoppingcart">
        <div class="header">
            <div class="showbox">
                <div class="logo"><img src="./images/logo.png" alt=""></div>
                <div class="title">
                    <h3>CY嚴選商城</h3>
                </div>
            </div>
        </div>
        <!-- <form action=""> -->
        <div id="cart" class="cartitem">
            <div class="productlist container">
                <div class="item">
                    <div class="product item_detail">
                        <h3>一般商品</h3>
                    </div>
                    <div class="proinfo">
                        <div class="subtotal">
                            <h3>單價</h3>
                        </div>
                        <div class="amount">
                            <h3>數量</h3>
                        </div>
                        <div class="count">
                            <h3>小計</h3>
                        </div>
                        <div class="option">
                            <h3>操作</h3>
                        </div>
                    </div>
                </div>
                <div class="item_container" v-for="(cart, index) in productList" :key="cart.prodNo">
                    <div class="detail detail1 item_header item_body">
                        <div class="cus item_detail">
                            <img v-bind:src="cart.prodPic" alt="">
                            <h5 class="name">{{getprodName(cart)}}</h5>
                        </div>
                        <div class="m_d">
                            <div class="subtotal">
                                <h3><span>$</span>{{getprodPrice(cart)}}</h3>
                            </div>
                            <div class="amount">
                                <button @click="handleSub()">-</button>
                                <input type="number" min="1" v-model="getprodAmount(cart)">
                                <button @click="handlePlus()">+</button>
                            </div>
                            <div class="count">
                                <h3><span>$</span>{{getprodPrice(cart)}}</h3>
                            </div>
                        </div>
                        <div class="option">
                            <span @click="handledelete(index)"><img src="./images/trash1.png" alt=""></span>
                        </div>

                    </div>
                </div>
            </div>
            <!-- productlist -->

            <div class="notice">
                <span><img src="./images/alerticon.png" alt=""></span>
                <h4>購物金使用說明 :</h4>
                <span>請於結帳時選用購物金選項</span>
            </div>

            <div class="total">
                <div class="finalamount">
                    <h3><span>$</span>{{finalamount}}</h3>
                </div>
                <div class="next" data-status="1">
                    <h4><a href="shoppingList.html">進行結帳</a></h4>
                </div>
            </div>
        </div>

        <!-- cartitem -->
        <!-- </form> -->



    </div>

    @@include('./template/footer.html')

    <!-- <script>
        $(function () {
            $.ajax({
                url: "shoppingCart.php",
                datType: "json",
                type: "GET",
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script> -->

    <!-- 購物車vue -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="./js/shoppingCart.js"></script>
</body>

</html>