<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-warning">新增管理員</button>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th>管理員編號</th>
              <th>管理員名稱</th>
              <th>管理員密碼</th>
              <th>管理員權限</th>
              <th>管理員權限設定</th>
              <th>管理員帳號刪除</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="admin">
              </td>
              <td>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="****">
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    唯獨
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">管理員</button>
                  </div>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-info">編輯</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger">刪除</button>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>