<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="nav-icon icon-drop"></i> 管理員管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="accountManage.html">
        <i class="nav-icon icon-pencil"></i> 會員管理</a>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-puzzle"></i> 訂單管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="base/breadcrumb.html">
            <i class="nav-icon icon-puzzle"></i> 修改訂單</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/cards.html">
            <i class="nav-icon icon-puzzle"></i> 註銷訂單</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-cursor"></i> 客製管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="buttons/buttons.html">
            <i class="nav-icon icon-cursor"></i> 主要零件管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/button-group.html">
            <i class="nav-icon icon-cursor"></i> 配件管理 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/dropdowns.html">
            <i class="nav-icon icon-cursor"></i> 單車知識管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-star"></i> 商品管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="icons/coreui-icons.html">
            <i class="nav-icon icon-star"></i> 商品上下架管理
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/flags.html">
            <i class="nav-icon icon-star"></i> 商品資訊管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-bell"></i> 活動管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="notifications/alerts.html">
            <i class="nav-icon icon-bell"></i> 活動管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/badge.html">
            <i class="nav-icon icon-bell"></i> 活動檢舉管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="widgets.html">
        <i class="nav-icon icon-calculator"></i> 機器人管理
      </a>
    </li>
  </ul>
</nav>