<nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title" style="font-size:22px;">後台管理</li>
      <li class="nav-item">
          <a class="nav-link" href="adminManage.html">
            <i class="nav-icon icon-settings"></i>管理員管理</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="accountManage.html">
            <i class="nav-icon icon-people"></i>會員管理</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="productManage.html">
            <i class="nav-icon icon-heart"></i>商品管理</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="orderManage.html">
            <i class="nav-icon icon-basket-loaded"></i>訂單管理</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="customizeManage.html">
            <i class="nav-icon icon-wrench"></i>客製管理</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="activityManage.html">
            <i class="nav-icon icon-calendar"></i>活動管理</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="activityReport.html">
            <i class="nav-icon icon-calendar"></i>活動檢舉</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="chatbotManage.html">
            <i class="nav-icon icon-info"></i>機器人管理</a>
      </li>
    </ul>
  </nav>