<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon02.ico" type="image/x-icon" />
    <title>CY購物車</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="phone">
            <input type="checkbox" name="" id="ham">
            <label for="ham">

                <span class="ham-1"></span>
                <span class="ham-2"></span>
                <span class="ham-3"></span>
                <span class="ham-4"></span>
            </label>

            <div class="logo ham"><a href="./index.html"><img src="./images/logo.png" alt=""></a></div>

            <ul class="nav-icon ham">
                <li class="icon-1"><a href="#"></a></li>
                <li class="icon-2"><a href="../shoppingCart.html"></a></li>
                <li class="icon-3"><a href="#"></a></li>
            </ul>

            <nav class="pc">

                <ul class=" nav-list">
                    <li><a href="./customize.html">專屬騎行</a></li>
                    <li><a href="./CYShop.html">CY嚴選</a></li>
                    <li><a href="./activity.html">活動專區</a></li>
                    <li class="logo"><a href="./cyclist.html"><img src="./images/logo.png" alt=""></a></li>
                    <li><a href="./question.html">不可不知</a></li>
                    <li><a href="./aboutCY.html">關於CY</a></li>
                </ul>

                <ul class="nav-icon">
                    <li class="icon-1"><a href="#"></a></li>
                    <li class="icon-2"><a href="../shoppingCart.html"></a></li>
                    <li class="icon-3"><a href="../sign_in.html"></a></li>
                </ul>
            </nav>
        </nav>
    </header>

    <div id="shoppingcart">
        <div class="header">
            <div class="showbox">
                <div class="logo"><img src="./images/logo.png" alt=""></div>
                <div class="title">
                    <h3>CY嚴選商城</h3>
                </div>
            </div>
        </div>
        <!-- <form action=""> -->
        <div id="app" class="cartitem">
            <div class="productlist container">
                <div class="item">
                    <div class="product item_detail">
                        <h3>一般商品</h3>
                    </div>
                    <div class="proinfo">
                        <div class="subtotal">
                            <h3>單價</h3>
                        </div>
                        <div class="amount">
                            <h3>數量</h3>
                        </div>
                        <div class="count">
                            <h3>小計</h3>
                        </div>
                        <div class="option">
                            <h3>操作</h3>
                        </div>
                    </div>
                </div>
                <div class="item_container" v-for="(item, index) in productList" :key="item.prodNumber">
                    <div class="detail detail1 item_header item_body">
                        <div class="cus item_detail">
                            <img v-bind:src="item.prodPic" alt="">
                            <h5 class="name">{{item.prodName}}</h5>
                        </div>
                        <div class="m_d">
                            <div class="subtotal">
                                <h3><span>$</span>{{item.prodPrice}}</h3>
                            </div>
                            <div class="amount">
                                <button @click="handleSub(item)">-</button>
                                <input type="number" min="1" v-model="item.prodAmount">
                                <button @click="handlePlus(item)">+</button>
                            </div>
                            <div class="count">
                                <h3><span>$</span>{{item.prodSum}}</h3>
                            </div>
                        </div>
                        <div class="option">
                            <span @click="handledelete(index)"><img src="./images/trash1.png" alt=""></span>
                        </div>

                    </div>
                </div>
            </div>
            <!-- productlist -->

            <div class="customizelist container">
                <div class="item">
                    <div class="product">
                        <h3>客製商品</h3>
                    </div>
                    <div class="proinfo">
                        <div class="subtotal">
                            <h3>單價</h3>
                        </div>
                        <div class="amount">
                            <h3>數量</h3>
                        </div>
                        <div class="count">
                            <h3>小計</h3>
                        </div>
                        <div class="option">
                            <h3>操作</h3>
                        </div>
                    </div>
                </div>

                <div class="item_container" v-for="(item, index) in customizeList" :key="item.prodNumber">
                    <div class="detail detail1 item_header item_body">
                        <div class="cus item_detail">
                            <img v-bind:src="item.prodPic" alt="">
                            <h5 class="name">{{item.prodName}}</h5>
                        </div>
                        <div class="m_d">
                            <div class="subtotal">
                                <h3><span>$</span>{{item.prodPrice}}</h3>
                            </div>
                            <div class="amount">
                                <button @click="handleSub(item)">-</button>
                                <input type="number" min="1" v-model="item.prodAmount">
                                <button @click="handlePlus(item)">+</button>
                            </div>
                            <div class="count">
                                <h3><span>$</span>{{item.prodSum}}</h3>
                            </div>
                        </div>
                        <div class="option">
                            <span @click="handledelete(index)"><img src="./images/trash1.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- customizelist -->


            <div class="notice">
                <span><img src="./images/alerticon.png" alt=""></span>
                <h4>購物金使用說明 :</h4>
                <span>請於結帳時選用購物金選項</span>
            </div>

            <div class="total">

                <div class="finalamount">
                    <h3><span>$</span>{{finalamount}}</h3>
                </div>
                <div class="next" data-status="1">
                    <h4><a href="shoppingList.html">進行結帳</a></h4>
                </div>

            </div>

        </div>
        <!-- cartitem -->
        <!-- </form> -->



    </div>

    <footer class="section">
        <ul>
            <li><img src="./images/facebook.png"></li>
            <li><img src="./images/ig.png"></li>
            <li><img src="./images/tw.png"></li>
        </ul>
    </footer>

    <script>
        $(function () {
            $.ajax({
                url: "shoppingCart.php",
                datType: "json",
                type: "GET",
                success: function (data) {
                    console.log(data);
                }
            });

            if (sessionStorage["prodNumber"] == null) {
                sessionStorage["prodNumber"] = "1";
                sessionStorage["prodName"] = "TCR_SLR_C01";
                sessionStorage["prodPic"] = "./images/TCR_SLR_C01.png";
                sessionStorage["prodPrice"] = 2500;
                sessionStorage["prodAmount"] = "1";
            }
        });
    </script>

    <!-- 購物車vue -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var incart = [];
        var app = new Vue({
            el: '#app',
            data: {
                Psum: 0,
                Csum: 0,
                allSum: 0,
                productList: [{
                        prodNumber: '1',
                        prodName: sessionStorage.getItem('prodName'),
                        prodPic: sessionStorage.getItem('prodPic'),
                        prodPrice: parseInt(sessionStorage.getItem('prodPrice')),
                        prodAmount: sessionStorage.getItem('prodAmount'),
                        prodSum: parseInt(sessionStorage.getItem('prodPrice')),
                    }, 
                ],
                customizeList: [{
                        prodNumber: '1',
                        prodName: 'TCR_SLR_M03',
                        prodPic: './images/TCR_SLR_M03.png',
                        prodPrice: 3500,
                        prodAmount: '1',
                        prodSum: 3500,
                    },
                    {
                        prodNumber: '2',
                        prodName: 'TCR_SLR_C02',
                        prodPic: './images/TCR_SLR_C02.png',
                        prodPrice: 2790,
                        prodAmount: '1',
                        prodSum: 2790,
                    },
                ]
            },
            methods: {
                handlePlus: function (item) {
                    item.prodAmount++;
                    item.prodSum += item.prodPrice;
                    this.finalamount;
                },
                handleSub: function (item) {
                    if (item.prodAmount > 1) {
                        item.prodAmount--;
                        item.prodSum -= item.prodPrice;
                    }
                    this.finalamount;
                },
                handledelete: function (index) {
                    console.log(this);
                    this.productList.splice(index, 1);
                    this.customizeList.splice(index, 1);
                },
            },
            computed: {
                finalamount() {
                    this.Csum = 0;
                    this.Psum = 0;
                    for (i in this.productList) {
                        this.Psum = this.productList[i].prodSum;
                    }
                    for (j in this.customizeList) {
                        this.Csum += this.customizeList[j].prodSum;
                    }
                    return this.Csum + this.Psum;
                },
            }
        })
    </script>
</body>

</html>