<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon02.ico" type="image/x-icon" />
    <title>結帳</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="phone">
            <input type="checkbox" name="" id="ham">
            <label for="ham">

                <span class="ham-1"></span>
                <span class="ham-2"></span>
                <span class="ham-3"></span>
                <span class="ham-4"></span>
            </label>

            <div class="logo ham"><a href="./index.html"><img src="./images/logo.png" alt=""></a></div>

            <ul class="nav-icon ham">
                <li class="icon-2"><a href="../shoppingCart.html"></a></li>
                <li class="icon-3"><a href="#"></a></li>
            </ul>

            <nav class="pc">

                <ul class=" nav-list">
                    <li><a href="./customize.html">專屬騎行</a></li>
                    <li><a href="./CYShop.html">CY嚴選</a></li>
                    <li><a href="./activity.html">活動專區</a></li>
                    <li class="logo"><a href="./cyclist.html"><img src="./images/logo.png" alt=""></a></li>
                    <li><a href="./question.html">不可不知</a></li>
                    <li><a href="./aboutCY.html">關於CY</a></li>
                </ul>

                <ul class="nav-icon">
                    <p class="memberId">哈哈</p><a href="" id="login">登出</a>
                    <li class="icon-2"><a href="shoppingCart.html"></a></li>
                    <li class="icon-3"><a href="sign_in.html"></a></li>
                </ul>
            </nav>
        </nav>
    </header>
    <div id="shoppingcart" class="shoppingList">
        <div class="header">
            <div class="showbox">
                <div class="logo"><img src="./images/logo.png" alt=""></div>
                <div class="title">
                    <h2>CY嚴選商城 - 訂單明細</h2>
                </div>
            </div>
        </div>
        <!-- <form action=""> -->
        <div id="app" class="cartitem">
            <div class="productlist container">
                <div class="item">
                    <div class="product item_detail">
                        <h3>一般商品</h3>
                    </div>
                    <div class="proinfo">
                        <div class="subtotal">
                            <h3>單價</h3>
                        </div>
                        <div class="amount">
                            <h3>數量</h3>
                        </div>
                        <div class="count">
                            <h3>小計</h3>
                        </div>
                    </div>
                </div>
                <div class="item_container" v-for="(item, index) in productList" :key="item.id">
                    <div class="detail detail1 item_header item_body">
                        <div class="cus item_detail">
                            <img v-bind:src="item.prodPic" alt="">
                            <h5 class="name">{{item.prodName}}</h5>
                        </div>
                        <div class="m_d">
                            <div class="subtotal">
                                <h3><span>$</span>{{item.prodPrice}}</h3>
                            </div>
                            <div class="amount">
                                <input type="number" min="1" v-model="item.prodAmount">
                            </div>
                            <div class="count">
                                <h3><span>$</span>{{item.prodSum}}</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- productlist -->

            <div class="receive">
                <div class="recipient">
                    <div class="memName">
                        <h4>收件人:</h4><input type="text" name="" id="memName">
                    </div>
                    <div class="tel">
                        <h4>電話:</h4><input type="text" id="tel">
                    </div>
                    <div class="addr">
                        <h4>地址:</h4><input type="text" id="addr">
                    </div>
                </div>

            </div>
            <div class="payment">
                <div class="cashflow">
                    <div class="title">
                        <h4>付款方式:</h4>
                    </div>
                    <label class="pay">
                        <h4>信用卡</h4>
                        <input class="card" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="pay">
                        <h4>購物金</h4>
                        <input class="gold" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <div class="myGold">
                <div class="goldInfo">
                    <div class="have">
                        <h4>目前持有的購物金: </h4>
                        <h4><span>$</span>10000</h4>
                    </div>
                    <div class="discount">
                        <h4>折抵: $</h4>
                        <h4><input type="number" min="0" value="0"></h4>
                    </div>
                </div>
            </div>

            <div class="creditCard">
                <div class="cardInfo">
                    <div class="cardNum">
                        <h4>信用卡帳號:</h4>
                        <div class="cardNuminfo">
                            <input type="text"> -
                            <input type="text"> -
                            <input type="text"> -
                            <input type="text">
                        </div>
                    </div>
                    <div class="cardDate">
                        <h4>有效期限:</h4>
                        <input type="text" id="cardDate">
                    </div>
                    <div class="cardCode">
                        <h4>安全碼:</h4>
                        <input type="text" id="cardCode">
                    </div>
                </div>
            </div>


            <div class="total">

                <div class="finalamount">
                    <h3><span>$</span>{{finalamount}}</h3>
                </div>
                <div class="btn" data-status="1">
                    <h3><a href="shoppingCart.html">上一步</a></h3>
                </div>
                <div class="next" data-status="1">
                    <h4>下一步</h4>
                </div>

            </div>

        </div>
        <!-- cartitem -->
        <!-- </form> -->



    </div>

    <footer class="section">
        <ul>
            <li><img src="./images/facebook.png"></li>
            <li><img src="./images/ig.png"></li>
            <li><img src="./images/tw.png"></li>
        </ul>
    </footer>

    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="./js/shoppingList.js"></script>
    <!-- <script>
        var incart = [];
        var app = new Vue({
            el: '#app',
            data: {
                Psum: 0,
                Csum: 0,
                allSum: 0,
                productList: [{
                    prodNumber: '1',
                    prodName: sessionStorage.getItem('prodName'),
                    prodPic: sessionStorage.getItem('prodPic'),
                    prodPrice: parseInt(sessionStorage.getItem('prodPrice')),
                    prodAmount: sessionStorage.getItem('prodAmount'),
                    prodSum: parseInt(sessionStorage.getItem('prodPrice')),
                }, ],
                customizeList: [{
                        prodNumber: '1',
                        prodName: 'TCR_SLR_M03',
                        prodPic: './images/TCR_SLR_M03.png',
                        prodPrice: 3500,
                        prodAmount: '1',
                        prodSum: 3500,
                    },
                    {
                        prodNumber: '2',
                        prodName: 'TCR_SLR_C02',
                        prodPic: './images/TCR_SLR_C02.png',
                        prodPrice: 2790,
                        prodAmount: '1',
                        prodSum: 2790,
                    },
                ]
            },
            methods: {
                handlePlus: function (item) {
                    item.prodAmount++;
                    item.prodSum += item.prodPrice;
                    this.finalamount;
                },
                handleSub: function (item) {
                    if (item.prodAmount > 1) {
                        item.prodAmount--;
                        item.prodSum -= item.prodPrice;
                    }
                    this.finalamount;
                },
                handledelete: function (index) {
                    console.log(this);
                    this.productList.splice(index, 1);
                    this.customizeList.splice(index, 1);
                },
            },
            computed: {
                finalamount() {
                    this.Csum = 0;
                    this.Psum = 0;
                    for (i in this.productList) {
                        this.Psum = this.productList[i].prodSum;
                    }
                    for (j in this.customizeList) {
                        this.Csum += this.customizeList[j].prodSum;
                    }
                    return this.Csum + this.Psum;
                },
            }
        })
    </script> -->
</body>

</html>