@import "rwd";
@import "rest";
@import "var";
@import "style";
@import "mixin";

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html{
     font-size: 62.5%;
}
body {
    min-height: 100vh;
    background-color: #F4F5F7;
    font-family: "微軟正黑體";
    font-size: 1.6rem;
    font-weight: 600;
}

// =================banner====================

.active{
    
}
.banner {
    // 測試
    // FIX 不要蓋過去
    position: relative;
    margin-top: 3px;
    width: 100%;
    // TODO:背景圖片
    // height: 350px;
    padding-top: 30%;
    // display: flex;
    // flex-direction: column;
    
    // background-size: cover;
    ul{
        // flex:1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }    

    li{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // height: 500px;
       
        // background-image: url(../images/act_image/banner-1.jpg);
        background-size: 100% auto;
        background-position: center center;
        opacity: .8;
        background-repeat: no-repeat;
    
        // https://picsum.photos/1520/638?random=10
        &:nth-child(1){ background-image: url('../images/act_image/banner-1.jpg');}
        &:nth-child(2){ background: url('../images/act_image/banner-2.jpg');
            background-position: bottom; background-size: cover;} 
        &:nth-child(3){ background-image: url('https://picsum.photos/1520/638?random=2');}
    }

    // transform: skewY(-6deg);
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 90px solid #f4f5f7;
        border-left: 1905px solid transparent;
        // ??border-left沒辦法100%滿版

        
    }
}

// ====================布局==============================

.activity {

    .filter {
        background-color: rgb(204, 162, 162);
        // height: 600px;
       

    }

    .main {
        background-color: rgb(139, 187, 233);
        min-height: 100vh;
    }




}


// ================頁籤========================


.banner{
    
    overflow: hidden;
}

.out{
    position: relative;
}
.tab-bikes{
    position: absolute;
    left: 21%;
    bottom: -50px;
    z-index: 10;
    // TODO:em&calc

    @include phone(){
        left: 10%;
    }


    .type{
        // overflow: hidden;
        position: relative;
        // z-index: 20;
        writing-mode: vertical-lr;
        display: inline-block;
        margin-right: 15px;
        padding: 10px;
        letter-spacing: 10px;
        color: $main;
        // TODO:fontweght
        font-size: 17px ;
        font-weight: 800;
        background-color: $main;
        // border: 3px solid $main;
        clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
        cursor: pointer;
        // transition: color .2s;

        @include phone(){
            padding: 5px;
            margin-right: 10px;
            font-size: 3.5vw;
        }

        &::before,&::after{
            position: absolute;
            content: '';
            
        }
        
        &::before{
            z-index: -2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
            background-color: #fff;
            transform: scale(.9) ;
        }

        &::after{
            // transform: translateY(200);
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;  
            background-color:$main;
            transition: height .3s;
        }
       
      
    }

    .type.active{
        color: #fff;
        top:15px;
        // TODO:
        &::after{
           
            height: 140%;
            
        }
    }
}


.act-action{
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // z-index: 20;
    float: right;
    margin-right: 8%;
    
    

    .my-act,.create-act{
        // width: 60px;
        // height: 30px;
        padding: 12px 25px;

        border: 0;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 5px;
        background-color: $main;
        cursor: pointer;

    }

    .my-act{
        margin-right: 30px;
    }

    @include phone(){

        .act-action{

            margin-right: 18%;
            margin-top: 10%;
            // TODO:??失效
        }
        .m-filter{
            border: none;
            width: 30px;
            height: 30px;
            // width: 4vw;
            // height: 4vw;
            // ??vw
            opacity: .8;
            background: transparent url('../images/act_image/m-filter\(1\).svg') no-repeat;
            cursor: pointer;
        }
    }
}

.activity{
    // clear: both;
}

// ==================條件篩選=======================


.condition{
    padding-top: 60px;

    @media screen and (max-width:768px)  and (min-width: 0) {
        .condition.col-sm-12.m-open{
        transform: translateY(0) !important; 
     }
    }
    

    @include phone{



        width: 100%;
        // height: 60%;
        position:fixed;
        z-index: 100;
        left: 0;
        bottom: 0;
        z-index: 30;
        transform: translateY(100%);
        // !!fixed+transform
        transition:all .5s;

        // .condition.col-sm-12.m-open{
        //     transform: translateY(0) !important; 
        //  }


        background-color: $blue-deep;
        .keyword{
            // display: none;
        }
        
        [class*=col-]{
            // padding: 0 0;
        }
        .col-sm-12{
            // padding: 0 0;
        }
        
        .condition{
            padding: 0 1px;
        }
        

        

        // zone-list,time-area
        
    }
      
   
}

.keyword{
    margin-bottom: 40px;
    input[type="text"]{
        // display: inline-block;
        display: block;
        padding: 0 10px;
        box-sizing: border-box;
        height: 30px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid $main;

    }
}


.filter {

    @include phone(){
        margin-right: -25px;
        margin-left: -25px;

    }
    .title {
        padding: 10px 0 10px 20px;
        color: #fff;
        font-weight: 600;
        font-size:1.8rem ;
        // background-color: #D69485;
        // text-align: center;
    }

    .time .title{background-color: #D69485;}
    .zone .title{background-color: #D6A67F;}
    .hard .title{background-color: #627A8F;}
    .time-area,.zone-list,.hard-list{
        background-color: #fff;
    }

    label {
        display: block;
        // padding-left: 14px;
        padding: 6px 0 6px 14px;

       @include phone(){
           display: inline-block;
           padding: 0 0 0 1.8vw;
           width: 46%;
       }

        
    }

    .time {

        .time-area {
            // display: flex;
            // flex-direction: column;
            padding: 20px 0;

            @include phone(){
                padding: 3vw 0;
                text-align: center;
            }


            .month-picker,.month-picker-end {
                // flex-grow: 1;
                width: 75%;
                min-width: 120px;
                margin: 0 auto;

                @include phone(){
                    display: inline-block;
                    width: 40%;
                    min-width: 13vw;
                    
                }
                
            }

            .month-picker {
                margin-bottom: 30px;

                @include phone(){
                    margin-right: 3vw;
                    margin:0;
                }
            }


        }

        input[type="text"] {
            display: inline-block;
            // display: block;
            width: 100%;
            height: 30px;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid #D6A67F;
            border-radius: 6px;
            background-color: #fff;
            vertical-align: middle;

        }
    }


    .zone-list,
    .hard-list {
        padding: 10px 0;  
    }

    .time-area{
        // color: #D69485;
    }
    .zone-list{
        color:#D6A67F;
    }
    .hard-list{
        color:#627A8F;
    }

    input[type="checkbox"] {
        display: inline-block;
        // display: block;
        height: 30px;
        box-sizing: border-box;
        vertical-align: middle;
        margin-right: 15px;
    
    }

    .hard{
        // img{
        //     display: block;
        //     width: 36px;
        //     height: 36px;

        // }
        span{
            display: inline-block;
            vertical-align: text-top;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background: url("../images/act_image/circle-1.svg") no-repeat;
        }
    }
}



// ============================活動區============================


.main-content {
    padding-top: 100px;

    @include phone(){
        padding-top: 50px;
    }

    .col-md-4 {
        padding: 0 3%;
        margin-bottom: 5%;
    }

}

.post-item{
    .open-detail{
        display: block;
        width: 20px;
        height: 20px;
        margin: 3px 3px 5px;
        // line-height: 20px;
        // padding: 10px 0;
        cursor: pointer;
        background:url("../images/act_image/add.svg") no-repeat;
    }
}

.post-detail{
    position: relative;
    &::after{
        display: none;
        content: '';
        // display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -2;
        width: 95%;
        height: 88%;
        border: 2px solid $main;
        background: rgb(255, 255, 255);

    }

    .detail.open{
        opacity: 1;
        visibility: visible;
        // z-index: 30;
        transition:opacity .5s;
        // transition:opacity 2s, visibility 0s ;
        // transition: visibility 2s;
        // transition: z-index 0 2s;
        // transition: z-index 0 3s;
        // transition: none;

        li{
            transform:translate(0);
            transition:transform .5s
        }
        
    }

    .detail{

        .title{
            background-color: #C86036;
            width: 100%;
            padding: 20px 0;
            color:rgb(243, 232, 232);
            text-align: center;
        }
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        position: absolute;
        bottom: 11%;
        left: 0;
        right: 0;
        width: 95%;
        height: 96%;
        box-sizing:border-box;
        border: 2px solid #C86036;
        // padding: 10% 10% 0;
        background-color: rgb(255, 255, 255);
        transition:opacity .5s, visibility 0s .5s;
        // transition:opacity 2s, visibility 0s 2s,z-index 0 3s ;
        // transition: z-index 0 3s;
        // transition: z-index 0s 3s;
       

        .close-detail{
            display: block;
            position: absolute;
            top: 3%;
            right: 3%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            // background-color: rgb(182, 245, 215);

            &:before{
                content: '';
                position: absolute;
                // z-index: 30;
                top: 0;
                left: 50%;
                width: 2px;
                height: 100%;
                background: #333;
                transform: rotate(45deg);
            }

            &:after{
                 content: '';
                 position: absolute;
                 top: 0;
                 left: 50%; 
                //  z-index: 30;
                 width: 2px;
                 height: 100%;
                 background: #333;
                 transform: rotate(-45deg);
            }
            
            
        }
        

        ul{
            padding: 15px;
            // last

            li{
                transform:translateX(30%);
            }
            li:not(:nth-last-of-type(1)){
                line-height: 1.2rem;
                letter-spacing: .2rem;
                // padding: 5px 0;
                // text-align: center;
                padding: 5px 0 5px 40px;
                color: #C86036;
                
            }


            li:nth-last-of-type(1){
                padding: 35px 20px 0 20px;
                color: #D6A67F;
                line-height: 2.5rem;
                letter-spacing: .2rem;
            }
            // !!nth-of-type 沒有nth跟:差很多


            li:nth-child(1){transition:transform .4s}
            li:nth-child(2){transition:transform .45s}
            li:nth-child(3){transition:transform .5s}
            li:nth-child(4){transition:transform .55s}
            // li:nth-child(5){transition:transform .6s}

            
        }
    }
}

.post-item {
    width: 100%;
    min-height: 350px;
    min-width: 275.7px;;
    // min改成max比較對??
    // min-height: 350px;
    margin-bottom: 20%;
    color: $sub;
    font-size: 1.5rem;
    border: 1px solid rgba(245, 230, 230, 0.3);
    // border: 2px solid $main;
    background-color: #F4F5F7;
    position: relative;

    // &::after{
    //     content: '';
    //     // display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: #ccc;

    // }
    .avatar{
            // display: inline-block;
        position: absolute;
        top: -27px;
        left: 22px;
        z-index: 5;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $main;
        box-shadow: 0 0 2px rgba(0,0,0,0.24);

            img{
                width: 100%;
                height: 100%;
                object-position: 50% 50%;
                object-fit: cover;
            }
        @include phone(){
            width: 15vw;
            height: 15vw;
        }
        
    }
   

    .post-img{
        // height: 200px;
        width: 100%;
        padding-top:62.5%;
        position: relative;
    }

    img {
        // margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
       
    }
    
    // ??QA .txt要吃到高度百分比 intro txt寬度
    .post-intro{
        padding: 10px;
        // height: 150px;
        background-color: #fff;
        // position: relative;

        
        // width: 100%;
        // height: 60%;
    }
    .title{
        padding: 6px 0 6px;
        font-size: 2rem;
    }

    .txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: 1.7rem;
        // font-weight: 800;
        
        
    }

    //  fix meta-top pb寫死px缺點 縮放超出??
    .meta-top{
        padding: 6px 0;
        padding-bottom: 40px;

        .date{
            padding: 3px 0;
        }

        .location{
            padding: 3px 0;

        }
        
    }
    .meta-bottom{
        // position: absolute;
        // bottom: 3px;
        // left: 0;
        
        span{
            display: inline-block;
        }

        display: flex;
        justify-content: space-between;
        
        .hard{
            padding-left: 5px;

            .circle{
                vertical-align:bottom;
                margin-left: 5px;
                width: 16px;
                height: 16px;
                background: url("../images/act_image/circle-1.svg") no-repeat;
            }
        }


        .social{
            margin-right: 30px;

            .people{
                padding-left: 20px;
                margin-right: 5px;
                background: url("../images/act_image/people.svg") no-repeat  8% 0;
                // background-size: 100% auto;
            }

            .msg{
                padding-left: 25px;
                background: url("../images/act_image/comment.svg") no-repeat;
            }
            
        }
        

    }
}