@import "rwd";
@import "rest";
@import "var";
@import "mixin";


* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "微軟正黑體";
}

.act-bg {
    background-color: #F4F5F7;
    // font-size: 62.5%;
}

.wrapper.activity,
.out {

    font-size: 1.6rem;
    font-weight: 600;
}


.banner {


    position: relative;
    margin-top: 60px;
    width: 100%;


    padding-top: 30%;




    ul {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;



        background-size: 100% auto;
        background-position: center center;
        opacity: .8;
        background-repeat: no-repeat;


        &:nth-child(1) {
            background-image: url('../images/act_image/banner-1.jpg');
        }

        &:nth-child(2) {
            background: url('../images/act_image/banner-2.jpg');
            background-position: bottom;
            background-size: cover;
        }

        &:nth-child(3) {
            background-image: url("https://picsum.photos/1423/599?random=10") center;
        }

    }


    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 90px solid #f4f5f7;
        border-left: 1905px solid transparent;



    }
}



.activity {

    .filter {
        background-color: rgb(204, 162, 162);



    }

    .main {
        background-color: rgb(139, 187, 233);
        min-height: 100vh;
    }




}





.banner {

    overflow: hidden;
}

.out {
    position: relative;
}

.tab-bikes {
    position: absolute;
    left: 21%;
    bottom: -50px;
    z-index: 10;


    @include phone() {
        left: 10%;
    }


    .type {

        position: relative;

        writing-mode: vertical-lr;
        display: inline-block;
        margin-right: 15px;
        padding: 10px;
        letter-spacing: 10px;
        color: $main;

        font-size: 17px;
        font-weight: 800;
        background-color: $main;

        clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
        cursor: pointer;


        @include phone() {
            padding: 5px;
            margin-right: 10px;
            font-size: 3.5vw;
        }

        &::before,
        &::after {
            position: absolute;
            content: '';

        }

        &::before {
            z-index: -2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
            background-color: #fff;
            transform: scale(.9);
        }

        &::after {

            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: $main;
            transition: height .3s;
        }


    }

    .type.active {
        color: #fff;
        top: 15px;


        &::after {

            height: 140%;

        }
    }
}


.act-action {




    float: right;
    margin-right: 8%;



    .my-act,
    .create-act {


        padding: 12px 25px;

        border: 0;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 5px;
        background-color: $main;
        cursor: pointer;

    }

    .my-act {
        margin-right: 30px;
    }

    @include phone() {

        .act-action {

            margin-right: 18%;
            margin-top: 10%;

        }

        .m-filter {
            border: none;
            width: 30px;
            height: 30px;

            opacity: .8;
            background: url(../images/act_image/m-filter-1.svg) no-repeat;
            cursor: pointer;
        }
    }
}






.condition {
    padding: 70px 15px 0;




    @include phone() {
        &.m-open {
            transform: translateY(0);
        }
    }



    @include phone {

        position: relative;

        padding: 0;
        box-sizing: border-box;
        max-width: 100%;

        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 30;
        transform: translateY(100%);
        transition: all .5s;


        .condition.m-open {
            transform: translateY(0) !important;
        }

        background-color: $blue-deep;





    }

    @include phone() {

        .m-close-filter {
            position: absolute;
            display: block;
            top: 10px;
            right: 10%;
            width: 30px;
            height: 30px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                width: 2px;
                height: 25px;
                background: lighten($main, 10%);
            }

            &::before {
                transform: rotate(45deg);

            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    @include break(375px, 767px) {}


}

.keyword {
    padding-top: 50px;
    margin-bottom: 40px;

    input[type="text"] {

        display: block;
        padding: 0 10px;
        box-sizing: border-box;
        border-radius: 2px;
        height: 35px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid $main;

    }
}


.filter {

    @include phone() {


        width: 100%;

    }

    .title {
        padding: 10px 0 10px 20px;
        color: #fff;
        font-weight: 600;
        font-size: 1.8rem;


    }

    .time .title {
        background-color: #D69485;
    }

    .zone .title {
        background-color: #D6A67F;
    }

    .hard .title {
        background-color: #627A8F;
    }

    .time-area,
    .zone-list,
    .hard-list {
        background-color: #fff;
    }

    @include break(375px, 767px) {

        .time-area,
        .zone-list,
        .hard-list {}
    }

    label {
        display: block;

        padding: 6px 0 6px 14px;

        @include phone() {
            display: inline-block;
            padding: 0 0 0 1.8vw;
            width: 46%;
        }


    }

    .time {

        .time-area {


            padding: 20px 0;

            @include phone() {
                padding: 3vw 0;
                text-align: center;
            }


            .month-picker,
            .month-picker-end {

                width: 75%;
                min-width: 120px;
                margin: 0 auto;

                @include phone() {
                    display: inline-block;
                    width: 40%;
                    min-width: 13vw;

                }

            }

            .month-picker {
                margin-bottom: 30px;

                @include phone() {
                    margin-right: 3vw;
                    margin: 0;
                }
            }


            .ui-datepicker .ui-datepicker-title {
                color: brown !important;
                background-color: bisque !important;

            }


        }

        input[type="text"] {
            display: inline-block;

            width: 100%;
            height: 30px;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid #D6A67F;
            border-radius: 6px;
            background-color: #fff;
            vertical-align: middle;

        }
    }


    .zone-list,
    .hard-list {
        padding: 10px 0px 10px 15px;
    }

    .time-area {}

    .zone-list {
        color: #D6A67F;
    }

    .hard-list {
        color: #627A8F;
    }

    input[type="checkbox"] {
        display: inline-block;

        height: 30px;
        box-sizing: border-box;
        vertical-align: middle;
        margin-right: 15px;

    }

    .hard {






        span {
            display: inline-block;
            vertical-align: text-top;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background: url("../images/act_image/circle-1.svg") no-repeat;
        }
    }
}






.main-content {
    padding-top: 100px;

    @include phone() {
        padding-top: 50px;
    }

    .col-md-4 {
        padding: 0 3%;
        margin-bottom: 5%;
    }

}

.post-item {
    .open-detail {
        display: block;
        width: 20px;
        height: 20px;
        margin: 3px 3px 5px;


        cursor: pointer;
        background: url("../images/act_image/add.svg") no-repeat;
    }
}

.post-detail {
    padding: 0 30px;
    position: relative;

    &::after {
        display: none;
        content: '';

        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -2;
        width: 95%;
        height: 88%;
        border: 2px solid $main;
        background: rgb(255, 255, 255);

    }

    .detail.open {
        opacity: 1;
        visibility: visible;

        transition: opacity .5s;






        li {
            transform: translate(0);
            transition: transform .5s
        }

    }

    .detail {

        .title {
            background-color: #C86036;
            width: 100%;
            padding: 20px 0;
            color: rgb(243, 232, 232);
            text-align: center;
        }

        opacity: 0;
        visibility: hidden;
        z-index: 10;
        position: absolute;
        bottom: 11%;
        left: 2%;
        right: 0;
        width: 95%;
        height: 96%;
        box-sizing:border-box;
        border: 2px solid #C86036;

        background-color: rgb(255, 255, 255);
        transition:opacity .5s,
        visibility 0s .5s;





        .close-detail {
            display: block;
            position: absolute;
            top: 3%;
            right: 3%;
            width: 30px;
            height: 30px;
            cursor: pointer;


            &:before {
                content: '';
                position: absolute;

                top: 0;
                left: 50%;
                width: 2px;
                height: 100%;
                background: #333;
                transform: rotate(45deg);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;

                width: 2px;
                height: 100%;
                background: #333;
                transform: rotate(-45deg);
            }


        }


        ul {
            height: calc(100% - 56px);
            display: flex;
            flex-direction: column;
            padding: 15px;
            box-sizing: border-box;



            li {
                transform: translateX(30%);
            }

            li:not(:nth-last-of-type(1)) {
                line-height: 1.2rem;
                letter-spacing: .2rem;


                padding: 5px 0 5px 40px;
                color: #C86036;

            }

            li:nth-last-of-type(1) {
                padding: 35px 15px 0 25px;
                color: #D6A67F;
                line-height: 2rem;
                letter-spacing: .2rem;


                display: -webkit-box;

                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;



                @include phone() {}
            }




            li:nth-child(1) {
                transition: transform .4s
            }

            li:nth-child(2) {
                transition: transform .45s
            }

            li:nth-child(3) {
                transition: transform .5s
            }

            li:nth-child(4) {
                transition: transform .55s
            }




        }
    }
}

.post-item {
    width: 100%;
    min-height: 350px;
    min-width: 275.7px;
    ;


    margin-bottom: 20%;
    color: $sub;
    font-size: 1.5rem;
    border: 1px solid rgba(245, 230, 230, 0.3);

    background-color: #F4F5F7;
    position: relative;












    .avatar {

        position: absolute;
        top: -27px;
        left: 22px;
        z-index: 5;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $main;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);

        img {
            width: 100%;
            height: 100%;
            object-position: 50% 50%;
            object-fit: cover;
        }

        @include phone() {
            width: 15vw;
            height: 15vw;
        }

    }


    .post-img {

        width: 100%;
        padding-top: 62.5%;
        position: relative;
    }

    img {

        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;

    }


    .post-intro {
        padding: 10px;

        background-color: #fff;





    }

    .title {
        padding: 6px 0 6px;
        font-size: 2rem;
    }

    .txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: 1.7rem;



    }


    .meta-top {
        padding: 6px 0;
        padding-bottom: 40px;

        .date {
            padding: 3px 0;
        }

        .location {
            padding: 3px 0;

        }

    }

    .meta-bottom {




        span {
            display: inline-block;
        }

        display: flex;
        justify-content: space-between;

        .hard {
            padding-left: 5px;

            .circle {
                vertical-align: bottom;
                margin-left: 5px;
                width: 16px;
                height: 16px;
                background: url("../images/act_image/circle-1.svg") no-repeat;
            }
        }


        .social {
            margin-right: 18px;

            .people {
                padding-left: 20px;
                margin-right: 5px;
                background: url("../images/act_image/people.svg") no-repeat 8% 0;

            }

            .msg {
                padding-left: 25px;
                background: url("../images/act_image/comment.svg") no-repeat;
            }

        }


    }
}



.act-pages {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 50px;

    li {
        display: inline-block;
        padding: 10px 15px;
        margin: 0 5px;
        background-color: #fff;
        border: 1px solid $blue-light;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: $main;
        }
    }
}