@import "rwd";
@import "var";
@import "mixin";



html,
body {

    height: 100%;


    font-family: "微軟正黑體";


}

img {
    display: unset;
}

.chat-bot-btn {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    background: url("../images/chat_bot/chatbot-icon.svg") no-repeat center;

    .pic {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            vertical-align: top;
        }
    }
}




#chat-bot.open {
    transform: scale(1);


    transition: scale 3s, bottom .5s, right .5s;

}

#chat-bot {
    position: fixed;
    z-index: 9999;
    bottom: 140px;
    right: 70px;
    border: 0.5px solid rgb(126, 107, 107);
    border-radius: 10px;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);;


    transform: scale(0);
    width: 400px;
    min-height: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #3e92cc;

    background-color: lighten($blue-light, 20%);
    transition: scale 3s, bottom .5s, right .5s;



    .title {
        padding: 10px 0;
        font-size: 1.8rem;
        background-color: $sub;
        border-top:1px solid #ccc;
    }

    #chatBot-box {
        padding: 20px;
        overflow: auto;
        min-height: 300px;
        max-height: 300px;
        background-color: #fff;
    }

    

    .dialog {
        display: flex;
        align-items: flex-start;

        margin-bottom: 25px;

    }

    .customer {
        justify-content: flex-end;
    }

    .avatar {


        text-align: center;

        .pic {
            width: 60px;
            height: 60px;

            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                vertical-align: middle;
            }
        }

    }


    .msg {
        margin-top: 10px;

        padding: 10px;
        border-radius: 10px;





    }

    .official .msg {
        margin-left: 20px;
        margin-right: 80px;
        background-color: #f5f5f5;




    }


    .customer .msg {

        order: -1;

        color: rgb(44, 43, 43);
        margin-right: 20px;
        margin-left: 80px;
        background-color: lighten($main, 10%);


    }





    .bottom {
        padding: 8px 8px 10px;
        border-top: 1px solid rgb(170, 165, 165);
    }

    #QA-group {
        margin-bottom: 15px;
        overflow-x: auto;
        max-height: 40px ;


        .QA {
            display: inline-block;
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 20px;
            background-color: #ddd;
            cursor: pointer;
        }
    }

    .input-bar {

        text-align: right;



        .input {
            display: inline-block;
            padding: 10px 15px;
            margin-right: 10px;
            box-sizing: border-box;
            width: 255px;

            max-height: 60px;

            text-align: left;
            background-color: #fff;
            border-radius: 15px;
            resize: none;
        }



        .send {
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;

            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 30px;
            background-color: lighten($main, 10%);
            ;
        }

    }

}