@import "var";
@import "mixin";
@import "grid";

// * {
//     outline: red 1px solid;
// }

#customizer {

    width: 100%;
    margin: auto;
    font-weight: bold;
    font-family: $ff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-size: $h1;
    }

    h2 {
        font-size: $h2;
    }

    h3 {
        font-size: $h3;
    }

    h4 {
        font-size: $h4;
    }

    h5 {
        font-size: $h5;
    }

    h6 {
        font-size: $h6;
    }

    img {
        display: block;
        width: 100%;
    }

    a {
        color: white;
        display: block;
        width: 100%;
    }


    .customize-area {
        @include flexalign() {
            align-items: stretch;
        }

        width: 100%;
        height: 100%;

    }


    .picture-area {
        width: 70%;
        margin: 100px auto 0;

        position: relative;

        .handle {
            position: absolute;
            top: 0px;
        }

        .frame {
            position: absolute;
            top: 0px;
        }

        .wheel {
            position: absolute;
            top: 0px;
        }

        .picture-area-fake {
            width: 100%;
            opacity: 0;
        }

    }



    .bike-background {
        width: 80%;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;


        .bgAndPrice {
            display: flex;
            justify-content: space-between;
            margin: 0px 10px 10px;

            .price {
                height: 46px;
                width: 150px;
                background-color: $main;
                color: white;
                line-height: 46px;

            }

        }


        .bgselector {
            @include flexalign() {}
        }


        label {
            color: #fff;
        }

        span {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 5px;
            cursor: pointer;
        }

        .place-1 {
            background-color: #635E64;
        }

        .place-2 {
            background-color: $sub;
        }

        .place-3 {
            background-color: #458B17;
        }

        .place-4 {
            background-color: #5A473E;
        }

        .place.active {
            border: solid white 3px;
        }
    }

    .bike-selector {
        width: 20%;


        @include flexalign() {
            flex-flow: column;
            align-items: stretch;
            justify-content: space-between;
        }

        .option-head {
            background-color: $main;
            color: white;
            padding: 20px 0px;
            padding-left: 30px;

        }

        .option {

            @include flexalign() {
                flex-flow: column;
                justify-content: stretch;
            }

            color: $main;
            border: $main solid 1px;
            box-sizing: border-box;

            .option-part-1 {
                .arrow {
                    div {
                        border-top: white solid 3px;
                        border-right: white solid 3px;
                    }
                }
            }


            &:hover .arrow {
                animation: bounceInLeft 1s;
            }
        }

        .option-end {
            color: white;

            display: flex;
            justify-content: space-between;

            .option-btn,
            .option-btns {
                background-color: $main;
                cursor: pointer;
                text-align: center;
                padding: 20px 0px;
                transition: all 1s;

                &:hover {
                    background-color: $sub
                }
            }

            .option-btns {
                width: 49.5%;
            }

            .option-btn {
                width: 100%;
                margin: auto;
            }
        }

        .option-part {
            cursor: pointer;
            outline: 1px solid $main;
            width: 100%;
            height: 60px;

            @include flexalign() {
                justify-content: stretch;
            }

            .icon {
                width: 33%;
                height: 100%;
            }

            .icon-1,
            .icon-2,
            .icon-3,
            .icon-4 {
                width: 50%;
                height: 100%;


                @include flexalign() {
                    justify-content: center;
                }

                margin: auto;
            }

            .icon-2 img,
            .icon-4 img {
                width: 70%;
            }

            .title {
                width: 33%;
                text-align: center;
                padding: 20px 0px;
            }

            .more {
                width: 33%;
            }

            .arrow {

                width: 40px;
                height: 40px;
                margin: auto;

                @include flexalign() {
                    justify-content: center;
                }

                div {

                    width: 20px;
                    height: 20px;

                    border-top: solid 3px $main;
                    border-right: solid 3px $main;
                    transform: rotate(45deg);



                    @include keyframes(bounceInLeft) {

                        from,
                        60%,
                        75%,
                        90%,
                        to {
                            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                        }

                        0% {

                            opacity: 0;
                            -webkit-transform: translate3d(-30px, 0, 0);
                            transform: translate3d(-30px, 0, 0);
                        }

                        60% {
                            opacity: 0.9;
                            -webkit-transform: translate3d(25px, 0, 0);
                            transform: translate3d(25px, 0, 0);
                        }

                        75% {
                            -webkit-transform: translate3d(-10px, 0, 0);
                            transform: translate3d(-10px, 0, 0);
                        }

                        90% {
                            -webkit-transform: translate3d(5px, 0, 0);
                            transform: translate3d(5px, 0, 0);
                        }

                        to {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
            }

        }

        .option-part.active {
            background-color: #ddaa82;
            color: white;
        }

        .option-extend {
            width: 100%;

        }

        .option-extend.active,
        .option.active {
            height: 100%;
        }



        .showbox {
            display: none;
        }

        .showbox.active {
            display: block;
            cursor: pointer;

        }

        .mobile {
            display: none;
            margin: auto;
        }


        .mobile-extend {
            display: none;
        }

        .showbox {
            width: 65%;

            input {
                visibility: hidden;
            }
        }

        .showbox.type {
            width: 50%;
        }

        .mobile1,
        .option-extend {
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;
        }

        .option-part-1+.option-extend {
            flex-flow: column wrap;
            align-items: center;
        }

        .mountain,
        .road,
        .city {
            display: none;

        }

        .mountain.active,
        .road.active,
        .city.active {
            display: flex;
            width: 100%;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
        }

        .frame1,
        .frame2 {
            display: none;

        }

        .frame1.active,
        .frame2.active {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            align-items: space-around;
        }
    }

}

@include respond(small) {

    #customizer {

        h4 {
            font-size: $h5;
        }

        .customize-area {

            flex-flow: column;

            .bike-background {
                width: 100%;
            }

            .bike-selector {
                width: 100%;
                flex-flow: row wrap;

                .option-part {
                    justify-content: center;
                }

                .option-btns {
                    width: 98%;
                    margin: 5px;
                }

                .mobile {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 20px 0;
                }
            }

            .showbox {
                width: 40%;
            }


        }

        .bike-selector {

            .option-head {
                display: none;
            }



            .option {
                width: 25%;

                .more {
                    display: none;
                }

                .icon {
                    display: none;
                }

                .option-extend {
                    display: none;
                }

            }

            .option-end {
                width: 100%;
                flex-flow: column;
                align-items: center;
            }

            .option-extend.active,
            .option.active {
                height: 0%;
            }



            .mountain.active,
            .road.active,
            .city.active {
                flex-flow: row;
                justify-content: space-around;
                align-items: center;
                color: $main;
            }

            .mobile-extend.active {
                height: 100%;
                display: flex;
                flex-flow: nowrap;
                color: $main;
            }

            .mobile-extend.inactive {
                display: block;
            }
        }
    }
}

.cusCheckOut {
    display: none;

    .item_container {
        .detail.cusItem {
            display: flex;
        }
    }
}