@import "./_rest.scss";
@import "./_var.scss";
@import "./_mixin.scss";
// @import "./grid.scss";


body {

    font-family: $ff;

    a {
        text-decoration: none;
    }

    img {
        display: block;
        width: 100%;
    }

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 50;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: $sub;
    }

    input {
        display: none;
    }

    label {
        display: none;
    }

    font-weight: bold;

    .ham {
        display: none;
    }

    .pc {
        flex-grow: 10;
    }

}


.nav-list {
    display: flex;
    justify-content: space-around;
    flex-grow: 10;

    li {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    li a {
        text-align: center;
        color: white;
    }

    li a:hover {
        color: $main;
    }
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    li {
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        margin: 10px;
    }



    .icon-1 {
        background-position: 0 0;
    }

    .icon-2 {
        background-position: -39px 0;
    }

    .icon-3 {
        background-position: -79px 0;
    }

    .icon-1:hover {
        background-position: 2px -42px;
    }

    .icon-2:hover {
        background-position: -37px -42px;
    }

    .icon-3:hover {
        background-position: -77px -42px;
    }
}


@include respond(small) {
    header {
        position: fixed;

        .phone {

            display: flex;
            justify-content: space-around;

            label {
                display: block;
                position: relative;
                cursor: pointer;
                width: 50px;
                height: 60px;

                span {
                    display: block;
                    transition: ease-in-out .5s;
                    position: absolute;
                    width: 40px;
                    height: 5px;
                    background-color: #fff;
                    border-radius: 4px;
                    left: 10px;
                }

                .ham-1 {
                    top: 10px;
                }

                .ham-2,
                .ham-3 {
                    top: 27px;
                }

                .ham-4 {
                    top: 44px;
                }

                z-index: 20;
                flex-grow: 1;
            }

            .ham {
                display: block;
                display: flex;

            }

            .logo {
                flex-grow: 10;
                align-items: center;

                a {
                    display: block;
                    margin-left: 40%;
                }
            }

            .nav-icon {
                li {
                    margin: 2px;
                }
            }

            .pc {
                position: absolute;
                top: 0;
                right: 100%;
                height: 100vh;
                width: 100vw;
                flex-flow: column;
                transition: all 1s;
                z-index: 10;


                .nav-list {
                    flex-flow: column;
                    align-items: center;
                    justify-content: space-around;

                    .logo {
                        order: -1;
                        flex-grow: 0;

                        a {
                            margin: 0;
                        }
                    }
                }
            }

        }



        #ham:checked~.pc {
            right: 0;
            transition: all 1s;
        }

        #ham:checked+label span {
            background-color: $main;
        }

        #ham:checked+label .ham-1 {
            transform: rotate(410deg);
            height: 4px;
            top: 22px;
        }

        #ham:checked+label .ham-2,
        #ham:checked+label .ham-3 {
            transform: translateX(100%);
            opacity: 0;
        }

        #ham:checked+label .ham-3 {
            transform: translateX(-150%);
        }

        #ham:checked+label .ham-4 {
            transform: rotate(-410deg);
            height: 4px;
            top: 22px;
        }


    }
}

//header

footer {
    background-color: $sub;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

    ul {
        width: 167px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

//footer

//---------- side_nav
.side_nav-container {
    display: block;
    left: 0;
    margin-top: -78px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 150;

    .side_nav-item {
        cursor: pointer;
        margin: 0;
        position: relative;
        width: 60px;
    }

    .side_nav-tab {
        background-color: rgb(100, 114, 139);
        height: 23px;
        margin: 5px 0 0 14px;
        opacity: .25;
        position: relative;
        transition: height .2s ease;
        width: 1px;
    }

    .side_nav-label {
        color: rgb(100, 114, 139);
        float: left;
        font-family: $ff;
        font-size: 10px;
        font-weight: 400;
        left: 0;
        letter-spacing: .02em;
        margin-left: 24px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        z-index: 10;
        text-transform: uppercase;
        top: 0;
        // transition: opacity .1s ease;
        width: 300px;
        line-height: 23px;
        text-decoration: none;
    }
}

.side_nav-item:hover .side_nav-label {
    opacity: 1;
}

.side_nav-selected {
    .side_nav-tab {
        margin-left: 13px;
        opacity: 1;
        width: 3px;
    }
}


//各區塊
section {
    width: 100vw;
    height: 100vh;
    // max-width: 1200px;
    // margin: 0 auto;
}

.fullpage {
    #banner {
        background-color: rgb(218, 233, 247);
    }

    #customizer {
        background-color: rgb(204, 220, 235);
    }

    #cycling {
        background-color: rgb(174, 192, 209);
    }

    #activity {
        background-color: rgb(167, 184, 201);
    }

    #product {
        background-color: rgb(148, 167, 187);
    }

    //---------- hm_mustKnow
    #mustKnow {
        main {
            width: 100%;
            height: 100%;
            position: relative;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            align-items: center;
            overflow: hidden;

            .content,
            .content__move {
                width: 100%;
                height: 100vh;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 100%;
                align-items: center;
                grid-area: 1 / 1 / 2 / 2;
                justify-self: center;
                position: relative;
                will-change: transform;
            }

            .columns {
                grid-area: 1 / 1 / 2 / 2;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 100%;
            }

            .column {
                position: relative;
                align-self: start;
                will-change: transform;
                margin: 0 3%;
            }

            .column--bottom {
                align-self: end;
            }

            .column__img {
                width: 100%;
                display: block;
                opacity: 0.4;
                background-size: cover;
                background-position: 50% 50%;
                height: 15vw;
            }

            .column__img:nth-child(odd) {
                height: 15vw;
            }

            .column__img:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            .menu {
                width: 100%;
                height: 100%;
                padding: 15vh 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .menu__item {
                display: flex;
                font-weight: 800;
                font-size: 8vw;
                line-height: 1.1;
                cursor: pointer;
                padding-bottom: 1rem;
                -webkit-text-stroke: 2px #db6437;
                -webkit-text-fill-color: transparent;
                color: transparent;
            }

            .menu__item:hover {
                -webkit-text-fill-color: #db6437;
                color: #db6437;
            }

            .menu__item a {
                display: inline-block;
                white-space: pre;
                pointer-events: none;
                will-change: transform;
            }
        }

        @media screen and (max-width: 768px) {
            main {
                .columns {
                    display: flex;
                    flex-direction: row;
                    // padding: 0 2vw;
                }

                .column {
                    width: 50%;
                    position: relative;
                    align-self: start;
                    will-change: transform;
                    margin: 0 3%;
                }

                .column--bottom {
                    display: none;
                }

                .column__img {
                    height: 25vw;
                }

                .column__img:nth-child(odd) {
                    height: 25vw;
                }

                .column__img:not(:last-child) {
                    margin-bottom: 2.5rem;
                }
            }

        }
    }

    //---------- hm_about
    #about {
        background-color: #fff;

        .hm_about-info {
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .back_square {
                width: 75vw;
                height: 70vh;
                background-color: #db6437;
                position: absolute;
                top: 15%;
                left: 0;
                z-index: 0;
            }

            img {
                width: 70%;
                position: absolute;
                z-index: 1;
            }

            span {
                display: block;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                position: absolute;
                z-index: 2;
                position: relative;
                background-image: url(../images/hm_aboutCross.png);
                cursor: pointer;
            }

            .span1 {
                top: -27%;
                left: -7%;
            }

            .span2 {
                top: -14%;
                left: 3%;
            }

            .span3 {
                top: -33%;
                left: 13%;
            }

            .span4 {
                top: 25%;
                left: 3%;
            }

            .span5 {
                top: -2%;
                right: -27%;
            }
        }
    }
}