@import "./_var.scss";
@import "./_mixin.scss";

svg {
    display: block;
}

.welcomeBackG {
    background-color: #223b49;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.welcome {
    width: 100%;
    height: 100vh;

    .cls-1 {
        fill: #223b49;
    }

    .cls-2 {
        fill: #29424e;
    }

    .cls-10,
    .cls-29,
    .cls-3,
    .cls-30,
    .cls-35,
    .cls-36,
    .cls-40,
    .cls-42,
    .cls-45,
    .cls-47,
    .cls-5,
    .cls-54,
    .cls-55,
    .cls-64,
    .cls-7 {
        fill: none;
    }

    .cls-3 {
        stroke: #78bec4;
    }

    .cls-10,
    .cls-3,
    .cls-30,
    .cls-33,
    .cls-35,
    .cls-36,
    .cls-40,
    .cls-42,
    .cls-45,
    .cls-47,
    .cls-5,
    .cls-54,
    .cls-55,
    .cls-56,
    .cls-64,
    .cls-7 {
        stroke-miterlimit: 10;
    }

    .cls-10,
    .cls-3,
    .cls-5,
    .cls-64 {
        stroke-width: 2px;
    }

    .cls-3,
    .cls-5,
    .cls-6 {
        opacity: 0.8;
    }

    .cls-4 {
        fill: #acb0b5;
    }

    .cls-5,
    .cls-7 {
        stroke: #7dd4d6;
    }

    .cls-8 {
        fill: #176896;
    }

    .cls-10 {
        stroke: #183744;
    }

    .cls-11 {
        fill: #398d7c;
    }

    .cls-12 {
        fill: #cdc9bb;
    }

    .cls-13 {
        fill: #fff;
    }

    .cls-14 {
        fill: #28616e;
    }

    .cls-15 {
        fill: #479b86;
    }

    .cls-16 {
        fill: #c8c5b9;
    }

    .cls-17 {
        fill: #bdc4c1;
    }

    .cls-19 {
        fill: #e2dfdb;
    }

    .cls-20 {
        fill: #fefaf2;
    }

    .cls-21 {
        fill: #384678;
    }

    .cls-22 {
        fill: #97969c;
    }

    .cls-23 {
        fill: #efefef;
    }

    .cls-24 {
        fill: #f2deca;
    }

    .cls-25 {
        fill: #2b2b2b;
    }

    .cls-26 {
        fill: #7d7d7d;
    }

    .cls-27 {
        fill: #505e91;
    }

    .cls-28 {
        fill: #4f5f91;
    }

    .cls-30 {
        stroke: #e2e2e2;
        stroke-linecap: round;
    }

    .cls-31 {
        fill: #9d162a;
    }

    .cls-32 {
        fill: #db6437;
    }

    .cls-33 {
        fill: #162c3f;
        stroke: #162c3f;
    }

    .cls-34 {
        fill: #e8af00;
    }

    .cls-35 {
        stroke: #e8af00;
    }

    .cls-36 {
        stroke: #4f7f3d;
    }

    .cls-37,
    .cls-46 {
        writing-mode: tb;
        text-orientation: upright;
        glyph-orientation-vertical: 0deg;
        fill: #f7f7f7;
        font-family: NotoSansCJKtc-Medium-B5pc-H, Noto Sans CJK TC;
    }

    .cls-37 {
        font-size: 60px;
        letter-spacing: 0.2em;
    }

    .cls-38 {
        fill: #eae3d0;
    }

    .cls-39 {
        fill: #ed6d1d;
    }

    .cls-40 {
        stroke: #fcfcfc;
    }

    .cls-41 {
        fill: #e5dfcc;
    }

    .cls-42 {
        stroke: #2b2b2b;
    }

    .cls-43 {
        fill: #6d90a5;
    }

    .cls-44 {
        fill: #eed0af;
    }

    .cls-45 {
        stroke: #eed0af;
    }

    .cls-46 {
        font-size: 62px;
        letter-spacing: 0.2em;
    }

    .cls-47 {
        stroke: #adc1eb;
        stroke-width: 3px;
    }

    .cls-52 {
        fill: #2482a3;
    }

    .cls-53 {
        fill: #eabb53;
    }

    .cls-54 {
        stroke: #d6d6d6;
        stroke-width: 0.5px;
    }

    .cls-55 {
        stroke: #eabb53;
    }

    .cls-56 {
        fill: #e3c6cb;
        stroke: #ddd;
        opacity: 0.5;
    }

    .cls-57 {
        fill: #bf1d1d;
    }

    .cls-58 {
        fill: #f4f4f4;
    }

    .cls-59 {
        fill: #243747;
    }

    .cls-60 {
        fill: #444;
    }

    .cls-61 {
        fill: #777;
    }

    .cls-62 {
        fill: #4c4c4c;
    }

    .cls-63 {
        fill: #3bc3c4;
    }

    .cls-64 {
        stroke: #00556d;
    }

    // 窗戶動畫
    #houseWindow {
        animation: changeColor 5s infinite ease-in;
    }

    @keyframes changeColor {
        0% {
            fill: #385461
        }

        50% {
            fill: #234958
        }

        100% {
            fill: #385461
        }
    }

    // 前端後端動畫
    #frontEnd,
    #backEnd {
        a {
            fill: #f7f7f7;
            font-weight: 400;
            animation: textlight 2s infinite linear;

            &:hover {
                font-size: 70px;
            }
        }
    }

    @keyframes textlight {
        0% {
            text-shadow: 0px 0px 10px #f7f7f7;
        }

        50% {
            text-shadow: 0px 0px 35px #f7f7f7;
        }

        100% {
            text-shadow: 0px 0px 10px #f7f7f7;
        }
    }

    // 巴士動畫
    #buse {
        animation: run 10s infinite linear;
    }

    // 腳特車動畫
    #bike {
        animation: run 12s infinite linear;
    }

    #bike2 {
        animation: run 15s infinite linear;
    }

    @keyframes run {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}

// 摩天輪動畫
#skywheelCycle {
    height: 42%;
    position: absolute;
    right: 8.5%;
    bottom: 22%;


    animation: rotate 10s infinite linear;
    transform-origin: center center;

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    .cls-47,
    .cls-3,
    .cls-49 {
        fill: none;
        stroke-miterlimit: 10;
    }

    .cls-47 {
        stroke: #adc1eb;
        stroke-width: 3px;
    }

    .cls-48 {
        fill: #e8edf8;
    }

    .cls-18 {
        stroke: #fff;
    }

    .cls-49 {
        stroke: #e06e3b;
    }

    .cls-50 {
        fill: #e06e3b;
    }

    .cls-51 {
        fill: #ced3dd;
    }
}

@media screen and (max-width: 1201px){
    #skywheelCycle {
        height: 38%;
        position: absolute;
        right: 3.5%;
        bottom: 25%;
    }
}


// CYCLIST霓虹效果
$colors: rgb(247, 29, 69),
rgb(255, 166, 0),
#E9F1DF,
rgb(0, 255, 234),
rgb(0, 195, 255);
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1)+$dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.Weltitle {
    width: 100%;
    height: 200px;

    font: 120px Open Sans, Impact;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 10px;

    position: absolute;
    top: 0%;
    left: 0%;
}

.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: $dash $dash-space;
    stroke-dashoffset: 0;
    animation: stroke $time infinite linear;
    filter: glow(color=#fff);
    text-shadow: 0px 0px 15px #fff;

    @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}) {
            $color: nth($colors, $item);
            stroke: $color;
            animation-delay: -($time-step * $item);
        }
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
}


.mb {
    display: none;
}

//手機版
@media screen and (max-width: 768px) {
    .lg {
        display: none;
    }

    .cls-1 {
        fill: #223b49;
    }

    .cls-2 {
        fill: #29424e;
    }

    .cls-10,
    .cls-15,
    .cls-16,
    .cls-20,
    .cls-3,
    .cls-31,
    .cls-32,
    .cls-5,
    .cls-7 {
        fill: none;
    }

    .cls-3 {
        stroke: #78bec4;
        stroke-width: 3px;
    }

    .cls-10,
    .cls-12,
    .cls-15,
    .cls-16,
    .cls-20,
    .cls-22,
    .cls-3,
    .cls-31,
    .cls-32,
    .cls-5,
    .cls-7 {
        stroke-miterlimit: 10;
    }

    .cls-3,
    .cls-5,
    .cls-6 {
        opacity: 0.8;
    }

    .cls-4 {
        fill: #acb0b5;
    }

    .cls-5,
    .cls-7 {
        stroke: #7dd4d6;
    }

    .cls-5 {
        stroke-width: 5px;
    }

    .cls-10,
    .cls-7 {
        stroke-width: 2px;
    }

    .cls-9 {
        fill: #3bc3c4;
    }

    .cls-10 {
        stroke: #00556d;
    }

    .cls-11 {
        fill: #db6437;
    }

    .cls-12 {
        fill: #162c3f;
        stroke: #162c3f;
    }

    .cls-13 {
        fill: #efefef;
    }

    .cls-14 {
        fill: #e8af00;
    }

    .cls-15 {
        stroke: #e8af00;
    }

    .cls-16 {
        stroke: #4f7f3d;
    }

    .cls-17,
    .cls-21 {
        writing-mode: tb;
        text-orientation: upright;
        glyph-orientation-vertical: 0deg;
        fill: #f7f7f7;
        font-family: NotoSansCJKtc-Medium-B5pc-H, Noto Sans CJK TC;
    }

    .cls-17 {
        font-size: 130px;
        letter-spacing: 0.2em;
    }

    .cls-18 {
        fill: #6d90a5;
    }

    .cls-19 {
        fill: #eed0af;
    }

    .cls-20 {
        stroke: #eed0af;
    }

    .cls-21 {
        font-size: 130px;
        letter-spacing: 0.2em;
    }

    .cls-22 {
        fill: #e3c6cb;
        stroke: #ddd;
        opacity: 0.5;
    }

    .cls-23 {
        fill: #bf1d1d;
    }

    .cls-24 {
        fill: #f4f4f4;
    }

    .cls-25 {
        fill: #243747;
    }

    .cls-26 {
        fill: #444;
    }

    .cls-27 {
        fill: #777;
    }

    .cls-28 {
        fill: #4c4c4c;
    }

    .cls-29 {
        fill: #2482a3;
    }

    .cls-30 {
        fill: #eabb53;
    }

    .cls-31 {
        stroke: #d6d6d6;
        stroke-width: 0.5px;
    }

    .cls-32 {
        stroke: #eabb53;
    }

    .mb {
        height: 100vh;
        width: 100vw;
        background-color: #223b49;
        display: block;

        // CYCLIST霓虹效果
        .m_Weltitle {
            width: 100%;
            height: 200px;

            font: 100px Open Sans, Impact;

            position: absolute;
            top: 0%;
            left: 0%;
        }
        

        //窗戶動畫
        #m_houseWindow {
            animation: changeColor 5s infinite ease-in;
        }

        @keyframes changeColor {
            0% {
                fill: #385461
            }

            50% {
                fill: #234958
            }

            100% {
                fill: #385461
            }
        }

        #m_frontEnd,
        #m_backEnd {
            a {
                fill: #f7f7f7;
                font-weight: 400;
                animation: textlight 2s infinite linear;

                &:hover {
                    font-size: 140px;
                }
            }
        }

        @keyframes textlight {
            0% {
                text-shadow: 0px 0px 10px #f7f7f7;
            }

            50% {
                text-shadow: 0px 0px 35px #f7f7f7;
            }

            100% {
                text-shadow: 0px 0px 10px #f7f7f7;
            }
        }

        // 巴士動畫
        #m_bus {
            animation: run 4s infinite linear;
        }

        // 腳特車動畫
        #m_bike {
            animation: run 6s infinite linear;
        }

        #m_bike2 {
            animation: run 8s infinite linear;
        }

        @keyframes run {
            0% {
                transform: translateX(-50%);
            }

            100% {
                transform: translateX(100%);
            }
        }
    }
}