@import "var";
@import "mixin";
@import "grid";


// * {
//     outline: solid 1px red;
// }


#shoppingcart {
    width: 100%;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: center;
        font-weight: 500;
    }

    h1 {
        font-size: $h1;
    }

    h2 {
        font-size: $h2;
    }

    h3 {
        font-size: $h3;
    }

    h4 {
        font-size: $h4;
    }

    h5 {
        font-size: $h5;
        padding: 15px;
    }

    h6 {
        font-size: $h6;
    }

    img {
        display: block;
        width: 60%;
        padding-top: 15px;
    }

    .option {
        img {
            width: 85%;
            padding-top: 0px;
        }
    }

    .notice {
        img {
            width: 85%;
            padding-top: 0px;
        }
    }

    a {
        display: block;
        width: 100%;
        text-decoration: none;
    }

    background-color: #a3a3a3a3;

    .header {
        width: 100%;
        height: 60px;
        background-color: $mainMedium;
        margin-top: 60px;

        .showbox {
            width: 80%;
            height: 90%;
            margin: 0% auto;
            display: flex;
            align-items: center;
        }

        .logo {
            width: 55px;
            height: 42px;
            margin-right: 10px;

            img {
                width: 100%;
                padding-top: 5px;
            }
        }

        .title {
            color: #fff;
            height: 60px;
            line-height: 60px;
        }
    }

}

.cartitem {
    @include flexalign() {
        flex-flow: column;
    }

    .cartitem {
        .productlist {
            width: 100%;
            margin-top: 0vh;
        }

        .item {
            width: 100%;
        }

        .detail {
            .m_d {
                width: 70%;
            }
        }

        .receive,
        .payment,
        .creditCard,
        .myGold,
        .total {
            width: 99%;
        }
    }

    .customizelist,
    .productlist,
    .receive,
    .payment,
    .creditCard,
    .myGold {
        width: 85%;
        margin-top: 5vh;
        display: column;
        box-sizing: border-box;

        .item {
            display: flex;
        }

    }

    .product {
        width: 30%
    }

    .proinfo {
        width: 70%;
        display: flex;
        justify-content: space-around;
    }

    .item,
    .detail,
    .cartEmpty {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 15px;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cus {
            width: 30%;

            img {
                // height: 100px;
                margin: auto;
            }
        }

        .amount,
        .subtotal,
        .count,
        .option {
            flex-grow: 1;
            width: 17.5%;
        }

        .amount {
            text-align: center;
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                width: 60px;
                height: 30px;
                border: 1px solid #ccc;
                line-height: 30px;
            }
        }
    }

    .cartEmpty {
        font-size: 18px;
        font-weight: 500;
        height: 150px;
        text-align: center;
        line-height: 150px;
        display: none;
    }

    .detail {
        justify-content: center;

        .m_d {
            width: 52.5%;
            display: flex;
            align-items: center;
        }

        .count {
            color: $main;
        }

        .option {
            cursor: pointer;
            text-align: center;

            span {
                display: inline-block;
                width: 35px;
            }
        }

        .amountNum {
            width: 50px;
            height: 30px;
            border: 1px solid #ccc;
            display: block;
            line-height: 30px;
        }
    }

    button {
        width: 32px;
        height: 32px;
        color: $blue-deep;
        text-align: center;
        line-height: 30px;
        background-color: white;
        border: none;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid #c2c2c2;
        margin: 0;
        cursor: pointer;
    }

    input {
        width: 60px;
        height: 30px;
        border: 1px solid #c2c2c2;
        // margin: 0 3px;
        padding: 0px;
        text-align: center;
    }

    .total,
    .notice {
        height: 60px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-top: 3vh;

        span {
            width: 22px;
            padding: 10px;
        }

        h4+span {
            display: inline-block;
            height: 16px;
            width: 250px;
            margin-left: 10px;
        }

        .btn {
            width: 95px;
            height: 35px;
            line-height: 35px;
            margin: 0 10px;
            color: #1e3449;
            border: 1px solid #8D99AC;
            transition: all .5s;
            cursor: pointer;

            a {
                color: #1e3449;
            }

            &:hover {
                background-color: lighten($blue-light, 35%);
            }
        }

        .next,
        .nextPage {
            width: 95px;
            height: 35px;
            line-height: 35px;
            margin: 0 10px;
            border: 1px solid $main;
            background-color: $main;
            transition: all .5s;
            cursor: pointer;
            color: #fff;

            a {
                color: #fff;
            }

            &:hover {
                background-color: lighten($main, 10%);
            }
        }
    }

    .receive,
    .payment,
    .creditCard,
    .myGold {
        display: none;
        border-radius: 5px;
        margin-bottom: 0;

        .recipient,
        .cashflow,
        .cardInfo {
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            padding: 10px 10px;

            .memName,
            .tel {
                width: 47%;
            }

            .addr {
                width: 100%;
            }

            .memName,
            .tel,
            .addr {
                padding: 10px;
                display: flex;
                align-items: center;

                input {
                    text-align: left;

                    &:focus {
                        outline: 1px solid $main;
                    }
                }
            }

            #memName,
            #tel {
                width: 60%;
            }

            #addr {
                width: 80%;
            }

            #memName,
            #tel,
            #addr {
                margin-left: 10px;
            }
        }
    }

    //自製checckbox
    .payment {
        .cashflow {
            // padding: 10px;
            justify-content: flex-start;

            .pay {
                display: flex;
                align-items: center;
                margin-left: 10px;
                cursor: pointer;
                position: relative;

                &:hover .checkmark {
                    background-color: #bbb;
                }

                input:checked~.checkmark {
                    background-color: $main;
                }

                input:checked~.checkmark::after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                width: 29px;
                height: 29px;
                right: 16px;
                background-color: #8d717134;
                border: 1px solid $main;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            .checkmark {
                &::after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }



            input {
                opacity: 0;
            }


        }

    }

    .myGold {
        .goldInfo {
            display: column;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #fff;
            padding: 10px 10px;
        }

        .have,
        .discount {
            display: flex;
            align-items: center;
            padding: 10px;

            h4 {
                padding: 0 5px;
            }

            h4:last-child {
                color: $main;
            }
        }
    }

    .creditCard {
        .cardInfo {
            display: flex;
            flex-direction: column;
        }

        .cardNum,
        .cardDate,
        .cardCode {
            display: flex;
            align-items: center;
            margin: 5px 0;
        }

        input {
            margin: 0 5px;
        }
    }

    .total {
        justify-content: flex-end;
        margin-bottom: 5vh;
    }
}



@include respond(small) {

    #shoppingcart {
        h4 {
            font-size: 16px;
        }
        h3 {
            font-size: 16px;
        }

        .header {
            margin-top: 50px;
        }

        .option img {
            width: 65%;
        }

        .header {
            .title {
                position: absolute;
                left: 20px;
            }

            .logo {
                display: none;
            }
        }
de
        h4 {
            font-size: 12px;
        }
    }

    .cartitem {

        .cartitem {
            .detail {
                .cus {
                    width: 50%;
                }

                .m_d {
                    width: 50%;
                }
            }

            .receive,
            .payment,
            .creditCard,
            .myGold,
            .total {
                width: 100%;
            }
        }

        .productlist {
            margin-top: 0vh;
        }

        .customizelist,
        .productlist,
        .total,
        .notice {
            width: 100%;

            .proinfo {
                display: none;
            }

        }

        .notice {
            font-size: 14px;

            h4+span {
                width: 180px;
            }
        }

        .detail {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5px 15px;

            .amount,
            .subtotal,
            .option,
            .count {
                flex-grow: 0;
            }

            .cus {
                width: 40%;
            }

            .m_d {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .amount,
            .subtotal,
            .count {
                width: 40%;
                padding: 5px 0;
            }

            .option {
                width: 10%;
            }
        }


        .receive,
        .payment,
        .creditCard,
        .myGold {
            width: 100%;

            .recipient {

                .memName,
                .tel {
                    width: 100%;
                }
            }
        }

        .creditCard {
            .cardInfo {
                .cardNum {
                    flex-direction: column;
                    align-items: flex-start;

                    .cardNuminfo {
                        margin-top: 10px;
                    }
                }
            }
        }

        .total {
            .nextPage {
                margin-right: 20px;
            }
        }

    }

}