@import "var";
@import "mixin";
@import "grid";


// * {
//     outline: solid 1px red;
// }


#shoppingcart {
    width: 100%;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-size: $h1;
    }

    h2 {
        font-size: $h2;
    }

    h3 {
        font-size: $h3;
    }

    h4 {
        font-size: $h4;
    }

    h5 {
        font-size: $h5;
    }

    h6 {
        font-size: $h6;
    }

    img {
        display: block;
        width: 100%;
    }

    a {
        color: white;
        display: block;
        width: 100%;
    }

    background-color: #a3a3a3a3;

    .header {
        width: 100%;
        height: 100px;
        background-color: $main;
        margin-top: 60px;

        .showbox {
            width: 80%;
            height: 90%;
            margin: 0% auto;
            display: flex;
            align-items: center;
        }

        .logo {
            width: 55px;
            height: 42px;
            margin-right: 10px;
        }

        .title {
            color: #fff;
            height: 60px;
            line-height: 60px;
        }
    }

}

.cartitem {
    @include flexalign() {
        flex-flow: column;
    }

    .customizelist,
    .productlist,
    .notice,
    .total,
    .receive,
    .payment {
        width: 80%;
        margin-top: 5vh;
        display: column;
        box-sizing: border-box;

        .item {
            display: flex;
        }

    }

    .product {
        width: 40%
    }

    .proinfo {
        width: 60%;
        display: flex;
        justify-content: space-around;
    }

    .item,
    .detail {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 15px;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cus {
            width: 40%;
        }

        .amount,
        .subtotal,
        .option {
            flex-grow: 1;
            width: 20%;
        }

        .amount {
            text-align: center;
            vertical-align: middle;
        }
    }

    .detail {
        .subtotal {
            color: $main;
        }

        .option {
            cursor: pointer;
            text-align: center;

            span {
                display: inline-block;
                width: 25px;
                height: 25px;
            }
        }
    }

    button {
        width: 30px;
        height: 30px;
        color: $main;
        text-align: center;
        line-height: 30px;
        background-color: white;
        border: none;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid #a3a3a3;
        margin: 0;
    }

    input {
        width: 60px;
        height: 30px;
        border: 1px solid #a3a3a3;
        margin: 0;
        padding: 0;
        text-align: center;

    }

    .total,
    .notice {
        height: 60px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding-left: 10px;

        span {

            width: 22px;
            height: 22px;

        }

        h4+span {
            display: inline-block;
            height: 16px;
            width: 250px;
            margin-left: 10px;
        }

        .btn {
            width: 150px;
            height: 50px;
            line-height: 50px;
            margin: 0 10px;
            background-color: $main;
            color: #fff;
            transition: all .5s;
            cursor: pointer;

            &:hover {
                background-color: $sub;
            }
        }
    }

    .receive,
    .payment {
        height: 0;
        border-radius: 5px;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 1s;
        margin-bottom: 0;

        .recipient,
        .cashflow {
            width: 100%;
            box-sizing: border-box;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;

            .memName,
            .tel {
                width: 47%;
            }

            .addr {
                width: 100%;
            }

            .memName,
            .tel,
            .addr {
                padding: 10px;
                display: flex;
                align-items: center;

                input {
                    text-align: left;

                    &:focus {
                        outline: 1px solid $main;
                    }
                }
            }

            #memName,
            #tel {
                width: 60%;
            }

            #addr {
                width: 80%;
            }

            #memName,
            #tel,
            #addr {
                margin-left: 10px;
            }
        }
    }

    //自製checckbox
    .payment {
        .cashflow {
            padding: 5px;
            justify-content: flex-start;

            .pay {
                display: flex;
                align-items: center;
                margin-left: 10px;
                cursor: pointer;
                position: relative;

                &:hover .checkmark {
                    background-color: #bbb;
                }

                input:checked~.checkmark {
                    background-color: $main;
                }

                input:checked~.checkmark::after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                width: 29px;
                height: 29px;
                right: 16px;
                background-color: #8d717134;
                border: 1px solid $main;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            .checkmark {
                &::after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }



            input {
                opacity: 0;
            }


        }

    }

    .receive.active,
    .payment.active {
        height: initial;
        transform: scaleY(1);
    }

    .total {
        justify-content: flex-end;
        margin-bottom: 5vh;
    }
}



@include respond(small) {

    .cartitem {

        .customizelist,
        .productlist,
        .total,
        .notice {
            width: 100%;

            .item {
                display: none;
            }

        }

        .detail {

            flex-wrap: wrap;
            justify-content: space-between;

            .amount,
            .subtotal,
            .option {
                flex-grow: 0;
            }

            .amount,
            .subtotal {
                width: 40%;
                margin-top: 10px;
            }

            .subtotal {
                order: 2;
            }

            .amount {
                order: 3;
            }

            .cus {
                width: 70%;
            }

            .option {
                width: 30%;
            }
        }


        .receive,
        .payment {
            width: 100%;

            .recipient {

                .memName,
                .tel {
                    width: 100%;
                }
            }
        }

    }


}