@import "./_rest.scss";
@import "./_var.scss";
@import "./_mixin.scss";
@import "./grid.scss";

// * {
//     outline: red 1px solid;
// }

body {

    font-family: $ff;

    a {
        text-decoration: none;
    }

    img {
        display: block;
        width: 100%;
    }

}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 60px;


    nav {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        background-color: $sub;
    }

    input {
        display: none;
    }

    label {
        display: none;
    }

    font-weight: bold;

    .ham {
        display: none;
    }

    .pc {
        flex-grow: 10;
    }

}


.nav-list {
    display: flex;
    justify-content: space-around;
    flex-grow: 10;

    li {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    li a {
        text-align: center;
        color: white;
    }

    li a:hover {
        color: $main;
    }
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    li {
        background-image: url(../images/icon.png);
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        margin: 10px;
    }



    .icon-1 {
        background-position: 0 0;
    }

    .icon-2 {
        background-position: -22px 0;
    }

    .icon-3 {
        background-position: -44px 0;
    }

    .icon-1:hover {
        background-position: 0px -22px;
    }

    .icon-2:hover {
        background-position: -22px -22px;
    }

    .icon-3:hover {
        background-position: -44px -22px;
    }
}


@include respond(small) {
    header {
        .phone {

            display: flex;
            justify-content: space-around;

            label {
                display: block;
                position: relative;
                cursor: pointer;
                width: 50px;
                height: 60px;

                span {
                    display: block;
                    transition: ease-in-out .5s;
                    position: absolute;
                    width: 40px;
                    height: 5px;
                    background-color: #fff;
                    border-radius: 4px;
                    left: 10px;
                }

                .ham-1 {
                    top: 10px;
                }

                .ham-2,
                .ham-3 {
                    top: 27px;
                }

                .ham-4 {
                    top: 44px;
                }

                z-index: 20;
                flex-grow: 1;
            }

            .ham {
                display: block;
                display: flex;

            }

            .logo {
                flex-grow: 10;
                align-items: center;

                a {
                    display: block;
                    margin-left: 50%;
                }
            }

            .nav-icon {
                li {
                    margin: 2px;
                }
            }

            .pc {
                position: absolute;
                top: 0;
                right: 100%;
                height: 100vh;
                width: 100%;
                flex-flow: column;
                transition: all 1s;



                .nav-list {
                    flex-flow: column;
                    align-items: center;
                    justify-content: space-around;

                    .logo {
                        order: -1;
                        flex-grow: 0;

                        a {
                            margin: 0;
                        }
                    }
                }
            }

        }



        #ham:checked~.pc {
            right: 0;
            transition: all 1s;
        }

        #ham:checked+label span {
            background-color: $main;
        }

        #ham:checked+label .ham-1 {
            transform: rotate(410deg);
            height: 4px;
            top: 22px;
        }

        #ham:checked+label .ham-2,
        #ham:checked+label .ham-3 {
            transform: translateX(100%);
            opacity: 0;
        }

        #ham:checked+label .ham-3 {
            transform: translateX(-150%);
        }

        #ham:checked+label .ham-4 {
            transform: rotate(-410deg);
            height: 4px;
            top: 22px;
        }


    }
}

//header




footer {
    background-color: $sub;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

    ul {
        width: 167px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

//footer

.wrapper {

    width: 100%;
    margin: auto;
    margin-top: 60px;

    .customize-area {
        @include flexalign() {
            align-items: stretch;
        }

        width: 100%;

    }

    .picture-area-fake {
        width: 80%;
        opacity: 0;
    }

    .picture-area {
        width: 80%;
        margin: auto;
        position: relative;

        .handle {
            position: absolute;
            top: 0;
        }

        .frame {
            position: absolute;
            top: 0;
        }

        .wheel {
            position: absolute;
            top: 0;
        }
    }



    .bike-background {
        width: 70%;
        background-image: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;


        .bgselector {
            @include flexalign() {}

            margin-bottom:5%;
        }


        label {
            margin-left: 10px;
            color: #333;
        }

        span {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 5px;
            cursor: pointer;
        }

        .place-1 {
            background-color: $main;
        }

        .place-2 {
            background-color: $sub;
        }

        .place-3 {
            background-color: #afa;
        }

        .place-4 {
            background-color: #faf;
        }

        .place.active {
            border: solid $main 3px;
        }
    }

    .bike-selector {
        width: 30%;


        @include flexalign() {
            flex-flow: column;
            align-items: stretch;
            justify-content: stretch;
        }

        .option-head {
            background-color: $main;
            color: white;
            padding: 20px 0px;
            padding-left: 30px;

        }


        .option {

            @include flexalign() {}

            flex-flow: column;
            justify-content: stretch;

            color: $main;
            border: $main solid 1px;
            box-sizing: border-box;

            &:hover .arrow {
                animation: bounceInLeft 1s;
            }
        }

        .option-end {
            color: white;

            display: flex;
            justify-content: space-between;

            .option-btn {
                background-color: $main;
                width: 49.5%;
                text-align: center;
                padding: 20px 0px;
                transition: all 1s;

                &:hover {
                    background-color: $sub
                }
            }
        }

        .option-part {
            cursor: pointer;
            outline: 1px solid $main;
            width: 100%;

            @include flexalign() {
                justify-content: stretch;
            }

            .icon {
                width: 33%;
                height: 100%;
            }

            .icon-1,
            .icon-2,
            .icon-3,
            .icon-4 {
                width: 50%;
                height: 100%;


                @include flexalign() {
                    justify-content: center;
                }

                margin: auto;
            }

            .icon-2 img,
            .icon-4 img {
                width: 70%;
            }

            .title {
                width: 33%;
                text-align: center;
                padding: 20px 0px;
            }

            .more {
                width: 33%;
            }

            .arrow {

                width: 40px;
                height: 40px;
                margin: auto;

                @include flexalign() {
                    justify-content: center;
                }

                div {

                    width: 20px;
                    height: 20px;

                    border-top: solid 3px $main;
                    border-right: solid 3px $main;
                    transform: rotate(45deg);



                    @include keyframes(bounceInLeft) {

                        from,
                        60%,
                        75%,
                        90%,
                        to {
                            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                        }

                        0% {

                            opacity: 0;
                            -webkit-transform: translate3d(-30px, 0, 0);
                            transform: translate3d(-30px, 0, 0);
                        }

                        60% {
                            opacity: 0.9;
                            -webkit-transform: translate3d(25px, 0, 0);
                            transform: translate3d(25px, 0, 0);
                        }

                        75% {
                            -webkit-transform: translate3d(-10px, 0, 0);
                            transform: translate3d(-10px, 0, 0);
                        }

                        90% {
                            -webkit-transform: translate3d(5px, 0, 0);
                            transform: translate3d(5px, 0, 0);
                        }

                        to {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
            }

        }

        .option-part.active {
            background-color: #ddaa82;
            color: white;
        }

        .option-extend {
            width: 100%;
        }

        .option-extend.active,
        .option.active {
            height: 100%;
        }



        .showbox {
            display: none;
        }

        .showbox.active {
            display: block;
            cursor: pointer;
        }

        .mobile {
            display: none;
        }


        .mobile-extend {
            display: none;
        }

        .showbox {
            width: 40%;
        }

        .mobile1,
        .option-extend {
            display: flex;
            justify-content: space-around;
        }

        .option-extend:nth-child(1).active {
            justify-content: normal;
            flex-wrap: wrap;
        }



        [data-type="road"] {
            display: none;
        }

        .mountain,
        .road,
        .city {
            display: none;

        }

        .mountain.active,
        .road.active,
        .city.active {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }

        .frame1,
        .frame2 {
            display: none;

        }

        .frame1.active,
        .frame2.active {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

}

@include respond(small) {

    .wrapper {

        .customize-area {

            flex-flow: column;

            .bike-background {
                width: 100%;
            }

            .bike-selector {
                width: 100%;
                flex-flow: row wrap;

                .option-part {
                    justify-content: center;

                }

                .option-btn {
                    width: 98%;
                    margin: 5px;
                }

                .mobile {
                    display: block;
                }
            }




        }
    }

    .bike-selector {

        .option-head {
            display: none;
        }

        .option {
            width: 25%;

            .more {
                display: none;
            }

            .icon {
                display: none;
            }

            .option-extend {
                display: none;
            }
        }

        .option-end {
            width: 100%;
            flex-flow: column;
            align-items: center;
        }

        .mobile-extend.active {
            height: 100%;
            display: flex;
        }

        .mobile-extend.inactive {
            display: block;
        }



    }




}