$colors: rgb(247, 29, 69),
rgb(255, 166, 0),
#E9F1DF,
rgb(0, 255, 234),
rgb(0, 195, 255);
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1)+$dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import "./_rest.scss";

// * {
//   outline: solid 1px #fa9;
// }

body {
  font: 100px Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 10px;
}

.wBanner {
  width: 100vw;
  height: 100vh;
}

//title CYCLIST
svg {
  width: 100vw;
  height: 250px;
}

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  filter: glow(color=#fff);
  text-shadow: 0px 0px 15px #fff;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

//內容物animation
.bannerImg {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  h6 {
    font-size: 40px;
    width: 40px;
  }

  .link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: -41px auto;
    max-width: 418px;


    .frontEnd {
      background-image: url(../images/W_frontEnd.png);
      width: 113px;
      height: 369px;
    }

    .backEnd {
      background-image: url(../images/W_backEnd.png);
      width: 91px;
      height: 363px;
    }

    .frontEnd,
    .backEnd {
      display: flex;
      justify-content: center;

      h6 {
        margin-top: 50px;

        &:hover a {
          filter: glow(color=#fff, strength=2);
          color: white;
          font-weight: 900;
          text-shadow: 0px 0px 20px #fff;
        }
      }
    }
  }

  .link+img,
  .road+img,
  .skyWheel+img {
    z-index: -1;
  }

  .road {
    background-image: url(../images/W_road.png);
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    bottom: 10px;

    .bus {
      background-image: url(../images/W_bus.png);
      width: 166px;
      height: 83px;


      animation: moveBus 8s infinite linear;
      position: absolute;
      z-index: 1;
      top: -40px;
    }

    @keyframes moveBus {
      0% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(1000%);
      }
    }

    .bike {
      background-image: url(../images/W_bike01.png);
      background-repeat: no-repeat;
      width: 115px;
      height: 66px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      animation: move 10s infinite linear;
      position: absolute;
      z-index: 2;


      .bikeTire1,
      .bikeTire2 {
        background-image: url(../images/W_bike02.png);
        background-repeat: no-repeat;
        width: 44px;
        height: 44px;

        animation: rotate 8s infinite linear;
        transform-origin: center center;
      }
    }

    .bike:last-child {
      opacity: 0;
      animation: move 12s infinite linear 1s;
    }

    @keyframes move {
      0% {
        opacity: 1;
        transform: translateX(-50%);
      }

      100% {
        opacity: 1;
        transform: translateX(1200%);
      }
    }
  }

  .skyWheel {
    background-image: url(../images/W_skyWheel.png);
    width: 323px;
    height: 327px;

    position: absolute;
    right: 50px;
    bottom: 120px;
    animation: rotate 10s infinite linear;
    transform-origin: center center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

  @media screen and (max-width: 768px) {
    .link {
      margin: -26px auto;
    }

    .skyWheel {
      display: none;
    }
  }

}